
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <ul class="nav col-md-5">
      <li class="nav-item"><a class="nav-link px-2 text-muted disabled">&copy; {{ site.copyright }} {{ site.owner}}</a></li>
      <li class="nav-item d-print-none"><a class="nav-link px-2 text-muted" href="{{site.github.repository_url}}/blob/master/{{page.path}}" title="Edit this Page on Github"><i class="fas fa-edit"></i></a></li>
      <li class="nav-item d-print-none"><a class="nav-link px-2 text-muted" href="https://github.com/Idobao/idobao.github.io/issues" title="Report an Issue with This Page"><i class="fas fa-bug"></i></a></li>
      <li class="nav-item manuals-only d-print-none"><a class="nav-link px-2 text-muted" href="#" onclick="window.print();return false;" title="Print this Page"><i class="fas fa-print"></i></a></li>
    </ul>

    <a href="{{ site.baseurl | default: "/" | relative_url }}" class="col-md-2 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none d-print-none">
      <svg class="bi me-2" width="32" height="32"><use xlink:href="#logo" /></svg>
    </a>

    <ul class="nav col-md-5 justify-content-end d-print-none">
      {%- for item in site.data.footer.menu -%}
      <li class="nav-item"><a href="{{ item.url }}" class="nav-link px-2 text-muted" title="{{ item.hint }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </footer>
</div>
