
<nav class="navbar navbar-expand-lg navbar-light d-print-none">
  <div class="container the-header">
    <a class="navbar-brand" href="{{ site.baseurl | default: '/' | relative_url }}">
      <svg class="d-inline-block align-text-top" style="height:24px;width:24px"><use xlink:href="#site-logo"/></svg>
      {{ site.title }}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        {%- for item in site.data.nav.menu -%}
          {%- if item.subfolderitems[0] != null -%}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="{{ item.url }}" ondblclick="navTo(this);" role="button" data-bs-toggle="dropdown" {%- if item.hint != nil %} title="{{ item.hint }}" {%- endif -%} >
                {%- if item.fa != nil -%}
                  <i class="fas fa-{{ item.fa }}"></i> {{- " " -}}
                {%- elsif item.svg != nil -%}
                  <svg class="fa fa-fw"><use xlink:href="#{{ item.svg }}"/></svg> {{- " " -}}
                {%- endif -%}
                {{- item.title -}}</a>
              <ul class="dropdown-menu">
                {%- for sub_item in item.subfolderitems -%}
                  {%- if sub_item.title == "--" -%}
                    <li><hr class="dropdown-divider"></li>
                  {%- else -%}
                    <li><a class="dropdown-item" href="{{ sub_item.url }}">
                      {%- if sub_item.fa != nil -%}
                        <i class="fas fa-fw fa-{{ sub_item.fa }}"></i> {{- " " -}}
                      {%- elsif sub_item.svg != nil -%}
                        <svg class="fa fa-fw"><use xlink:href="#{{ sub_item.svg }}"/></svg> {{- " " -}}
                      {%- endif -%}
                      {{- sub_item.title -}}</a> {{- -}}
                    </li>
                  {% endif -%}
                {%- endfor -%}
              </ul>
            </li>
          {%- else -%}
            <li class="nav-item"> {{- -}}
              <a class="nav-link" href="{{ item.url }}" {% if item.hint != nil -%} title="{{ item.hint }}" {%- endif -%} >
                {%- if item.fa != nil -%}
                  <i class="fas fa-{{ item.fa }}"></i>{{ " " }}
                {%- elsif item.svg != nil -%}
                  <svg class="fa fa-fw"><use xlink:href="#{{ item.svg }}"/></svg> {{- " " -}}
                {%- endif -%}
                {{- item.title -}}</a> {{- -}}
            </li>
          {% endif -%}
        {%- endfor -%}

      </ul>
    </div>
    <form class="d-flex justify-content-end d-none d-lg-block d-print-none">
      <button class="btn btn-sm btn-success manuals-only print-button" type="button" onclick="window.print();return false;" title="Print this page"><i class="fas fa-print"></i> Print</button>
    </form>
  </div>
</nav>
