
<div class="row">
  <div class="col-md-8 mb-3">

    <p class="lead">IDOBAO keyboards are built on QMK firmware.</p>

    <p>You can always use the QMK Configurator (<a href="https://config.qmk.fm/#/idobao"><i class="fas fa-globe"></i> config.qmk.fm</a>)<sup>NB</sup>,
    but note that firmware from there does not include the VIA code library.</p>

    <p><small class="text-muted"><sup>NB</sup> = QMK Configurator may not have all the variants available.</small></p>

  </div>
  <div class="col-md-4 mb-3">
    <a href="https://qmk.fm"><picture class="float-center float-md-end px-2"><source srcset="https://qmk.fm/assets/images/badge-light.svg" media="(prefers-color-scheme: dark)"><img src="https://qmk.fm/assets/images/badge-dark.svg" width="300" height="88"></picture></a>
  </div>
</div>

<div class="row">
  <div class="col-md-8 mb-3">
    <p>All our keybards are programmed with the VIA variant of the code.  If you need to restore these please use the links below.</p>
  
    <p>Be sure to read our <a href="/manuals"><i class="fas fa-book"></i> Manuals</a> if you need help on that.</p>
  </div>
  <div class="col-md-4 mb-3">
    <div class="px-2">
      <a href="http://caniusevia.com">
        <!-- making an image from a span here :) -->
        <span class="float-center float-md-end align-middle" style="display:block;width:300px;height:88px;background-color:#ad7070;color:#ffffff;padding:16px;border-radius:8px;">
          <svg height="100%" width="auto"><use xlink:href="#via-logo" /></svg>
        </span>
      </a>
  </div>
  </div>
</div>
