<div id="vialRocks" class="border shadow border-success bg-success bg-opacity-10 rounded-3 p-3 mb-4 text-opacity-75 d-print-none px-3 d-none">
  <img src="/assets/img/chrome-logo.svg" class="pull-left me-3 mb-3" style="float:left;" width="48" height="48">
  <p>Looks like you're using Chrome.  In this case, and if your keyboard is listed as "<i>(Native)</i>" below, then <b>Vial.Rocks</b> may work without the need to install an app on your system.</p>
  <div class="text-center"><a href="https://vial.rocks" class="btn btn-secondary gradient shadow" target="_blank"><svg class="fa"><use xlink:href="#vial-logo"></use></svg> vial.rocks</a></div>
</div>

<script>
  var isChromium = window.chrome;
  var winNav = window.navigator;
  var vendorName = winNav.vendor;
  var isOpera = typeof window.opr !== "undefined";
  var isIEedge = winNav.userAgent.indexOf("Edg") > -1;
  var isIOSChrome = winNav.userAgent.match("CriOS");

  if (isIOSChrome) {
    // is Google Chrome on IOS
  } else if (
    isChromium !== null &&
    typeof isChromium !== "undefined" &&
    vendorName === "Google Inc." &&
    isOpera === false &&
    isIEedge === false
  ) {
    // is Google Chrome
    document.getElementById("vialRocks").classList.remove("d-none");  // unhide it!
  } else { 
    // not Google Chrome 
  }
</script>
