<script>
  var isChromium = window.chrome;
  var winNav = window.navigator;
  var vendorName = winNav.vendor;
  var isOpera = typeof window.opr !== "undefined";
  var isIEedge = winNav.userAgent.indexOf("Edg") > -1;
  var isIOSChrome = winNav.userAgent.match("CriOS");

  if (isIOSChrome) {
    // is Google Chrome on IOS
  } else if (
    isChromium !== null &&
    typeof isChromium !== "undefined" &&
    vendorName === "Google Inc." &&
    isOpera === false &&
    isIEedge === false
  ) {
    // is Google Chrome... hide it!
    document.getElementById("via_app_alt").classList.add("d-none");
    document.getElementById("vial_app_alt").classList.add("d-none");
    // is Google Chrome... unhide it!
    document.getElementById("via_app_chrome").classList.remove("d-none");
    document.getElementById("vial_app_chrome").classList.remove("d-none");
  } else { 
    // not Google Chrome 
  }
</script>
