
<div class="ratio ratio-16x9 d-print-none">
  <iframe 
    width="560" 
    height="315" 
    src="https://www.youtube.com/embed/{{- include.video -}}"
    title="{{ include.title | strip | default: "YouTube video player" }}"
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</div>
<div class="d-none d-print-block text-center">[<a href="https://www.youtube.com/watch?v={{- include.video -}}">{{- include.title | trim -}}</a>]</div>

